// -----------------------------------------------------------------------------
// This file contains all Styles to container component.
//
.main-container {
  position: relative;
  display: flex;
  max-width: $max-width;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: $base-padding * 3;
  padding-left: $base-padding;
  padding-right: $base-padding;
  padding-top: $base-padding * 3;
  width: 100%;
  z-index: 999;
}

.half-container {
  width: 50%;
}
