// -----------------------------------------------------------------------------
// This file contains all Styles to container component.
//
.main-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  max-width: $max-width;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: $base-padding * 3;
  padding-left: $base-padding;
  padding-right: $base-padding;
  padding-top: $base-padding * 3;
  width: 100%;
  z-index: 999;
}

.half-container {
  width: 100%;
  text-align: center;

  @include when-inside('medium') {
      width: 50%;
  }
}


/*
*  Sections
*/
.about {
  background-color: $color-white;
}
.event {
  background-color: $color-base-alter;
}
.project {
  background-color: $color-base-main;
}
.footer {
  background-color: $color-gray;
}
