// -----------------------------------------------------------------------------
// This file contains all Styles to social network component.
//
.social {
  display: flex;
  width: 200px;
  flex: 0 1;
  justify-content: space-between;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: $base-padding;

  &__link {
    color: $color-white;
    flex: 0 4;
    font-size: 14px;
    text-align: center;
    margin-right: 20px;
  }

  &__image {
    width: 20px;
    height: 20px;
  }

  @include when-inside('medium') {
      margin: 0;
  }
}

.social-photo {
  border-radius: 50%;
  overflow: hidden;
  width: 150px;
  height: 150px;
};