// -----------------------------------------------------------------------------
// This file contains footer styles.
// -----------------------------------------------------------------------------
.footer {
  position: relative;
  background-color: $color-gray;

  .main-container {
    padding: $base-padding;
  }
}

/* contact-us */
.contact-us {
  align-self: center;
  margin-left: auto;
  margin-right: auto;

  @include when-inside('medium') {
      margin-left: auto;
      margin-right: none;
  }
}
