// -----------------------------------------------------------------------------
// This file contains all typography styles.
// -----------------------------------------------------------------------------
html,
input,
select,
textarea {
  font-family: $font-base-text;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-base-title;
}

strong {
	font-weight: 700;
}

a {
  text-decoration: none;
  color: inherit;
}
